<h4> Enter Discount rate here </h4>
<%= form_tag(apply_discount_path, method: :get) do %>
	<%= label_tag "Which Genre?" %>
	<%= select_tag "genre", options_from_collection_for_select(@genres, "id", "name") %>
</br>
</br>
	<%= label_tag "Discount Percentage" %>
	<%= text_field_tag "discount" %>  
</br>
	<% submit_tag 'Submit' %>
<% end %>

fild tag is the one used as a params.. in the controller. 